<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="assets/images/logo.png" height="20px" width="20px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" [routerLink]="['']">Home</a>
          </li>
        </ul>
        <div class="d-flex">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)" [routerLink]="['login']">Login</a>
                  <!-- <a class="nav-link" href="javascript:void(0)" [routerLink]='[{ outlets: { aux: ["login"] } }]'>Login</a> -->

                </li>
              </ul>
        </div>
      </div>
    </div>
  </nav>
  